
<section class="login-register-main-area">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 col-md-6 login-area">
        <a class="log-reg-opt" href="/login">LOG IN</a>
      </div>
      <div class="col-xs-12 col-md-6 register-area">
        <a class="log-reg-opt" href="/register">REGISTER</a>
      </div>
    </div>
  </div>
</section>