<div class="row">

  <section class="main-register text-center">
    <h2>Register</h2>
    <p>Please enter your information below.</p>

    {{msg}}

    <form action="/register" method="POST">
      <div class="form-group">
        <label for="f-name">First Name</label>
        <input id="f-name" type="text" name="f_name" />
      </div>
      <div class="form-group">
        <label for="l-name">Last Name</label>
        <input id="l-name" type="text" name="l_name" />
      </div>      
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" name="email" />
      </div>
      <div class="form-group">
        <label for="password">Enter a password</label>
        <input id="password" type="password" name="password" />
      </div>
      <div class="form-group">
        <label for="password-confirm">Confirm password</label>
        <input id="password-confirm" type="password" name="passwordconfirm" />
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </section>

</div>